<!-- Views for showing and registering all users -->

<div class="columns is-centered">
  <div class="column is-half is-text-center box">
	  <h2 class="has-text-centered is-capitalized title">New User Register</h2>
	  <form id="regform" onsubmit="loadAdd()" method="post">
		<div class="is-mine">
			<div class="field">
			  <label class="label">Name</label>
			  <div class="control">
				 <input class="input" type="text" name="name" placeholder="e.g Alex Smith">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Email</label>
			  <div class="control">
				 <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Password</label>
			  <div class="control">
				 <input class="input" name="password" type="password" placeholder="Password">
			  </div>
			</div>

			{{#if error}}
			<div class="notification is-danger">
				{{error}}
			</div>
			{{/if}}

			<div class="field">
			  <div class="control">
				  <button type="submit" id="addIt" class="button is-info">
					 Create
				  </button>
			  </div>
			</div>
		</div>
	 </form>
  </div>
</div>
<hr>
<div class="columns is-centered is-multiline" id="refresh">
	{{#each users}}
	  <div class="column is-one-third is-hover">
		  <div class="card">
			 <div class="card-content">
				<div class="content">

					<p>Name: <strong><a href="users/{{_id}}">{{name}}</a></strong> </p>
					<p>Email: <strong>{{email}}</strong> </p>
				</div>
				<form method="POST" action="users/{{_id}}?_method=DELETE">
				  <button type="submit" class="button is-danger">Delete</button>
				</form>
				<script type="text/javascript">
					function isActive() {
						var element = document.getElementById('modal')
						element.classList.toggle("is-active");
					}
					console.log($('#modal'));
				</script>
			 </div>
		  </div>
	  </div>
	  {{/each}}
</div>
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
	  <form action="{{_id}}?_method=PUT" method="POST">
	   <div class="box">
			<h2 class="has-text-centered">Edit Info</h2>
			<div class="field">
			  <label class="label">Name</label>
			  <div class="control">
				 <input class="input" type="text" name="name" value="{{user.name}}" placeholder="e.g Alex Smith">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Email</label>
			  <div class="control">
				 <input class="input" type="email" name="email" value="{{user.email}}" placeholder="e.g. alexsmith@gmail.com">
			  </div>
			</div>

			<div class="field">
			  <div class="control">
				  <button type="submit" class="button is-info">
					 Up Date
				  </button>
			  </div>
			</div>
	   </div>
	 </form>

  </div>
  <button class="modal-close is-large" onclick="isActive()"></button>
</div>
